@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
  user-select: none;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 110vh;
  background: linear-gradient(320deg, #0d6ac3, #c87ae3, #fd9101);
}
.box{
  width: 40vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  background-color: rgba(0,0,0, 0.3);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
}
h1{
  font-size: 45px;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}
img{
  width: 30px; height: 30px;
}
.container{
  width: 350px;
  background-color: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 1000px;
  padding: 15px;
}
input[type="email"], input[type="password"]{
  width: 210px; height: 40px;
  background-color: transparent;
  outline: none; border: none;
}
input[type="email"]::placeholder, input[type="password"]::placeholder{
  color: black;
  font-size: 15px;
}
.remember{
  width: 250px;
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: #fd9101;
}
input[type="submit"]{
  background-color: black;
  color: white;
  font-weight: bolder;
  border: none;
  width: 250px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid black;
}

button {
    border-radius: 5px;
    border-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: black;
    color: white;
}

.Log_in_warn {
    color: rgb(102, 3, 3);
}